.not-found-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 172, 0.524);

    * {
        font-family: "Cascadia Mono", sans-serif !important;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.546);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.344);

        svg {
            font-size: 2.5rem;
            padding: 10px 25px;
            border-radius: 50%; 
            margin-bottom: 10px;

            background-color: red;
            color: rgb(255, 255, 255);
            cursor: initial;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.349);
        }

        button {
            background-color: blue;
            color: white;
            padding: 10px 15px;
            margin-top: 20px;
            font-weight: 550;
            --color: blue;
            --back: #e4e8ff;
        }
    }
}