@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  user-select: none;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif !important;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  outline: none;
} */

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

svg {
  cursor: pointer;
  transition: .2s;

  path {
    pointer-events: none;
  }
}

button {
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-radius: 3px;
  transition: .2s;
}


::-webkit-scrollbar {
  background-color: rgba(237, 242, 255, 0);
  width: 3px;
  height: 3px;
  /* display: none; */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.515);
  border-radius: 10px;
}

textarea {
  outline: none;
}

input {
  outline: none;
  border-radius: 3px;
  transition: .2s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=month]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(0.8) brightness(50%) sepia(100%) saturate(10000%) hue-rotate(20deg);
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show-left {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes show-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes show-down {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes show-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateY(3px);
  }

  25% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: none;
  }
}

:root {
  --show-down: show-down .2s;
  --show-left: show-left .2s;
  --show-right: show-right .2s;
  --show-top: show-top .2s;
  --shake: shake .2s;
}

.page {
  width: 100dvw;
  height: 100dvh;
  min-width: 100vw !important;
  min-height: 100vh !important;
  overflow-x: hidden !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100vh;
  min-width: 100dvw;
  min-height: 100dvh;
  transition: .3s, top 0s !important;
  transition-delay: .3s;
  pointer-events: none;
  opacity: 0;

  &[open] {
    opacity: 1;
    pointer-events: all;
    scale: 1;
  }
}

@media (max-height: 900px) {
  .page {
    width: 100dvw;
    height: 100dvh;
    min-width: 100dvw !important;
    min-height: 100dvh !important;
    overflow-x: hidden !important;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100dvw;
    height: 100dvh;
    min-width: 100dvw !important;
    min-height: 100dvh !important;
    transition: .3s, top 0s !important;
    transition-delay: .3s;
    pointer-events: none;
    opacity: 0;

    &[open] {
      opacity: 1;
      pointer-events: all;
      scale: 1;
    }
  }
}

